import discord
from discord.ext import commands
from core.context import StrapContext


class MyCustomCog(commands.Cog):
    def __init__(self, bot):
        self.bot = bot

    @commands.hybrid_command()
    async def hello(self, ctx: StrapContext):
        await ctx.send("Hello, world!\nFrom the new custom cogs!")


async def setup(bot: commands.Bot):
    await bot.add_cog(MyCustomCog(bot))
