discord.py
asyncio
python-dotenv
pynacl
youtube-dl
lavalink
python-box
pymongo
dnspython
motor
colorama
asyncspotify
ncspy
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
discord-py-interactions
